@import '00_reset/reset';

@import '01_settings/breakpoints';
@import '01_settings/variables';
@import '01_settings/fonts';
@import '01_settings/themes';

@import '02_base/base';

@import '03_layout/layout-base';

@import '04_components/pointer';
@import '04_components/grid';



// Hacks
main {
  height: 100%;
  // cursor: none;
}

canvas .debug {
  top:0;
  left:0;
  position:fixed;
  z-index: 0;
}

/* GUI Interface */
.lil-gui.autoPlace {
  height: auto;
  max-height: none;
}

.index {
  z-index: 2;
  position: absolute;
  padding: 10px;
}

// cursor in the list / to modify in later
.el {
  cursor:pointer;
}

.now {
  padding: 20px 0;
}

// for template visualizations

.container-decription {
  width:100%;
  position: absolute;
}
.description {
  position: relative;
  flex-direction: column;
  display:flex;
  align-items: flex-end;
  padding: 10px;
}