:root {
    // Colors
    --color-light: #f7f7f7;
    --color-dark: #000;
    --color-muted-dark: #484848;
    --color-muted-light: #D3D3D3;

    --color-bg: var(--color-dark);
    --color-font: var(--color-light);
    --color-font-muted: var(--color-muted-light);
    --color-borders: var(--color-muted-dark);

    // Typography
    --font-family: 'ScopeTrial', Helvetica, Arial, sans-serif;
    --font-size: 11px;
    --line-height: 1.1;
    --font-weight: 500;
    --letter-spacing: .08em;

    // Spacing
    --spacer: calc(1rem * var(--line-height));

    @for $i from 1 through 8 {
        --spacer-#{$i}: calc(var(--spacer)*#{$i});
    }

    --spacer-025:  calc(var(--spacer)*.25);
    --spacer-05:  calc(var(--spacer)*.5);
    --spacer-075:  calc(var(--spacer)*.75);
    --spacer-1-05:  calc(var(--spacer)*1.5);

    // Layout
    --vh: 1vh;
    --vw: 1vw;
    --viewport-height: calc(100* var(--vh));
    --viewport-width: calc(100* var(--vw));

    @include media (mobile) {
        --main-padding-x: var(--spacer-2);
        --main-padding-y: var(--spacer-2);
    }
    @include media (tablet, desktop) {
        --main-padding-x: var(--spacer-3);
        --main-padding-y: var(--spacer-3);
    }
}